<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$ROBOT_NAME$">

  <!-- Use this if parameters are set from the launch file, otherwise delete -->
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="attach_world" default="true"/>

  <xacro:arg name="use_mock" default="false"/>
  <xacro:arg name="mock_sensor_commands" default="false"/>
  <xacro:arg name="sim_gazebo" default="false"/>
  <xacro:arg name="simulation_controllers" default=""/>
  <xacro:arg name="use_isaac" default="false"/>
  <xacro:arg name="isaac_joint_commands_topic" default="/isaac/joint_commands"/>
  <xacro:arg name="isaac_joint_states_topic" default="/isaac/joint_states"/>
  <xacro:arg name="isaac_ft_wrench_topic" default="/isaac/ft_sensor/wrench"/>

  <xacro:include filename="$(find $PKG_NAME$)/urdf/$ROBOT_NAME$/$ROBOT_NAME$_macro.xacro"/>
  <xacro:include filename="$(find $PKG_NAME$)/urdf/$ROBOT_NAME$/$ROBOT_NAME$_macro.ros2_control.xacro"/>

  <!-- create link fixed to the "world" -->
  <xacro:if value="$(arg attach_world)">
    <link name="world"/>

    <!-- Load robot's macro with parameters -->
    <!-- set prefix if multiple robots are used -->
    <xacro:$ROBOT_NAME$ prefix="$(arg prefix)" parent="world">
      <origin xyz="0 0 0" rpy="0 0 0"/>          <!-- position robot in the world -->
    </xacro:$ROBOT_NAME$>
  </xacro:if>

  <xacro:unless value="$(arg attach_world)">
    <!-- Load robot's macro without attaching it to the world frame -->
    <!-- set prefix if multiple robots are used -->
    <xacro:$ROBOT_NAME$ prefix="$(arg prefix)" parent="">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:$ROBOT_NAME$>
  </xacro:unless>

  <xacro:$ROBOT_NAME$_ros2_control
    name="$ROBOT_NAME$"
    prefix="$(arg prefix)"
    use_mock="$(arg use_mock)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    sim_gazebo="$(arg sim_gazebo)"
    simulation_controllers="$(arg simulation_controllers)"
    use_isaac="$(arg use_isaac)"
    isaac_joint_commands_topic="$(arg isaac_joint_commands_topic)"
    isaac_joint_states_topic="$(arg isaac_joint_states_topic)"
    isaac_ft_wrench_topic="$(arg isaac_ft_wrench_topic)"/>

</robot>
